<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Weapons</key>
	<dict>
		<key>Bro5_Gun</key>
		<dict>
			<key>Basics</key>
			<dict>
				<key>ImageName</key>
				<string>bullet</string>
				<key>Depth</key>
				<integer>99</integer>
				<key>RequiresAmmo</key>
				<false/>
				<key>MaxAtOnce</key>
				<integer>20</integer>
				<key>RemoveAfterHowLong</key>
				<integer>4</integer>
				<key>CanCollect</key>
				<false/>
				<key>FiringCausesCharacterToStop</key>
				<false/>
			</dict>
			<key>LocationOffsets</key>
			<dict>
				<key>LocationOffsetUp</key>
				<string>{100,-10}</string>
				<key>LocationOffsetDown</key>
				<string>{100,-28}</string>
				<key>LocationOffsetRight</key>
				<string>{100,-22}</string>
				<key>LocationOffsetLeft</key>
				<string>{-100,-22}</string>
			</dict>
			<key>Physics</key>
			<dict>
				<key>CollisionBodyType</key>
				<string>circle</string>
				<key>ResizeBodyBy</key>
				<real>0.5</real>
				<key>Restitution</key>
				<integer>0</integer>
				<key>Mass</key>
				<integer>1</integer>
				<key>AffectedByGravity</key>
				<false/>
				<key>AllowsRotation</key>
				<false/>
				<key>IgnoreCollisionsThatDontDamage</key>
				<true/>
			</dict>
			<key>Vectors</key>
			<dict>
				<key>VectorIfCharacterFacesUp</key>
				<string>{ 10, 1 }</string>
				<key>VectorIfCharacterFacesDown</key>
				<string>{ 10, -.4 }</string>
				<key>VectorIfCharacterFacesLeft</key>
				<string>{ -10, 0 }</string>
				<key>VectorIfCharacterFacesRight</key>
				<string>{ 10, 0}</string>
				<key>VectorIfCharacterResting</key>
				<string>{ 10, 0 }</string>
				<key>TaperDownVectorAfterHowLong</key>
				<integer>2</integer>
			</dict>
			<key>Disables</key>
			<dict>
				<key>DisableFiringDown</key>
				<false/>
				<key>DisableFiringUp</key>
				<false/>
				<key>DisableFiringLeft</key>
				<false/>
				<key>DisableFiringRight</key>
				<false/>
				<key>DisableFiringWhenResting</key>
				<false/>
			</dict>
			<key>Particles</key>
			<dict>
				<key>ParticleFileName</key>
				<string>DeathFire</string>
				<key>RemoveParticlesAfterHowLong</key>
				<integer>2</integer>
				<key>NumberOfParticlesToEmit</key>
				<integer>10</integer>
				<key>ParticleXOffset</key>
				<integer>0</integer>
				<key>ParticleYOffset</key>
				<integer>0</integer>
				<key>KeepAddingVectorsToParticles</key>
				<false/>
			</dict>
			<key>Sounds</key>
			<dict>
				<key>FireSound</key>
				<string>Gun</string>
				<key>HitSound</key>
				<string>Explosions</string>
			</dict>
			<key>Damage</key>
			<dict>
				<key>DamageToObjects</key>
				<integer>1</integer>
				<key>DamageToPlayers</key>
				<integer>20</integer>
			</dict>
			<key>AnimationHit</key>
			<dict>
				<key>Size</key>
				<string>{ 52, 67}</string>
				<key>FPS</key>
				<integer>10</integer>
				<key>AtlasFile</key>
				<string>weapon_hit</string>
				<key>FrameOrder</key>
				<array>
					<string>weapon_hit0001</string>
					<string>weapon_hit0002</string>
					<string>weapon_hit0003</string>
					<string>weapon_hit0004</string>
					<string>weapon_hit0005</string>
					<string>weapon_hit0006</string>
				</array>
			</dict>
		</dict>
		<key>Grenade</key>
		<dict>
			<key>ImageName</key>
			<string>grenade</string>
			<key>RequiresAmmo</key>
			<true/>
			<key>Depth</key>
			<integer>99</integer>
			<key>CollisionBodyType</key>
			<string>circle</string>
			<key>ResizeBodyBy</key>
			<real>0.22</real>
			<key>LocationOffsetUp</key>
			<string>{0,50}</string>
			<key>LocationOffsetDown</key>
			<string>{0,5}</string>
			<key>LocationOffsetRight</key>
			<string>{0,50}</string>
			<key>LocationOffsetLeft</key>
			<string>{0,50}</string>
			<key>VectorIfCharacterFacesUp</key>
			<string>{ 2, 5 }</string>
			<key>VectorIfCharacterFacesDown</key>
			<string>{ 2, 0 }</string>
			<key>VectorIfCharacterFacesLeft</key>
			<string>{ -3, 3 }</string>
			<key>VectorIfCharacterFacesRight</key>
			<string>{ 3, 3}</string>
			<key>TaperDownVectorAfterHowLong</key>
			<integer>1</integer>
			<key>RemoveAfterHowLong</key>
			<integer>8</integer>
			<key>AffectedByGravity</key>
			<true/>
			<key>Restitution</key>
			<real>0.3</real>
			<key>Mass</key>
			<integer>1</integer>
			<key>AllowsRotation</key>
			<true/>
			<key>DisableFiringDown</key>
			<false/>
			<key>DisableFiringUp</key>
			<false/>
			<key>DisableFiringLeft</key>
			<false/>
			<key>DisableFiringRight</key>
			<false/>
			<key>ParticleFileName</key>
			<string>DeathFire</string>
			<key>RemoveParticlesAfterHowLong</key>
			<integer>2</integer>
			<key>NumberOfParticlesToEmit</key>
			<integer>10</integer>
			<key>ParticleXOffset</key>
			<integer>0</integer>
			<key>ParticleYOffset</key>
			<integer>0</integer>
			<key>KeepAddingVectorsToParticles</key>
			<false/>
			<key>FireSound</key>
			<string>Whooshes</string>
			<key>HitSound</key>
			<string>Explosions</string>
			<key>DamageToPlayers</key>
			<integer>20</integer>
			<key>DamageToObjects</key>
			<integer>5</integer>
			<key>IgnoreCollisionsThatDontDamage</key>
			<false/>
			<key>DisablePushBack</key>
			<true/>
			<key>AnimationHit</key>
			<dict>
				<key>Size</key>
				<string>{ 75, 75}</string>
				<key>FPS</key>
				<integer>10</integer>
				<key>AtlasFile</key>
				<string>ring_blast</string>
				<key>FrameOrder</key>
				<array>
					<string>ring_blast0001</string>
					<string>ring_blast0002</string>
					<string>ring_blast0003</string>
					<string>ring_blast0004</string>
					<string>ring_blast0005</string>
					<string>ring_blast0006</string>
					<string>ring_blast0007</string>
					<string>ring_blast0008</string>
					<string>ring_blast0009</string>
					<string>ring_blast0010</string>
					<string>ring_blast0011</string>
					<string>ring_blast0012</string>
					<string>ring_blast0013</string>
				</array>
			</dict>
			<key>Movements</key>
			<dict>
				<key>RotatesForeverWithDuration</key>
				<integer>4</integer>
			</dict>
		</dict>
		<key>Unlimited_Grenade</key>
		<dict>
			<key>ImageName</key>
			<string>grenade</string>
			<key>RequiresAmmo</key>
			<false/>
			<key>Depth</key>
			<integer>99</integer>
			<key>CollisionBodyType</key>
			<string>circle</string>
			<key>ResizeBodyBy</key>
			<real>0.22</real>
			<key>LocationOffsetUp</key>
			<string>{0,50}</string>
			<key>LocationOffsetDown</key>
			<string>{0,5}</string>
			<key>LocationOffsetRight</key>
			<string>{0,50}</string>
			<key>LocationOffsetLeft</key>
			<string>{0,50}</string>
			<key>VectorIfCharacterFacesUp</key>
			<string>{ 2, 5 }</string>
			<key>VectorIfCharacterFacesDown</key>
			<string>{ 2, 0 }</string>
			<key>VectorIfCharacterFacesLeft</key>
			<string>{ -3, 3 }</string>
			<key>VectorIfCharacterFacesRight</key>
			<string>{ 3, 3}</string>
			<key>TaperDownVectorAfterHowLong</key>
			<integer>1</integer>
			<key>RemoveAfterHowLong</key>
			<integer>8</integer>
			<key>AffectedByGravity</key>
			<true/>
			<key>Restitution</key>
			<real>0.3</real>
			<key>Mass</key>
			<integer>1</integer>
			<key>AllowsRotation</key>
			<true/>
			<key>DisableFiringDown</key>
			<false/>
			<key>DisableFiringUp</key>
			<false/>
			<key>DisableFiringLeft</key>
			<false/>
			<key>DisableFiringRight</key>
			<false/>
			<key>ParticleFileName</key>
			<string>DeathFire</string>
			<key>RemoveParticlesAfterHowLong</key>
			<integer>2</integer>
			<key>NumberOfParticlesToEmit</key>
			<integer>10</integer>
			<key>ParticleXOffset</key>
			<integer>0</integer>
			<key>ParticleYOffset</key>
			<integer>0</integer>
			<key>KeepAddingVectorsToParticles</key>
			<false/>
			<key>FireSound</key>
			<string>Whooshes</string>
			<key>HitSound</key>
			<string>Explosions</string>
			<key>DamageToPlayers</key>
			<integer>20</integer>
			<key>DamageToObjects</key>
			<integer>5</integer>
			<key>IgnoreCollisionsThatDontDamage</key>
			<false/>
			<key>DisablePushBack</key>
			<true/>
			<key>AnimationHit</key>
			<dict>
				<key>Size</key>
				<string>{ 75, 75}</string>
				<key>FPS</key>
				<integer>10</integer>
				<key>AtlasFile</key>
				<string>ring_blast</string>
				<key>FrameOrder</key>
				<array>
					<string>ring_blast0001</string>
					<string>ring_blast0002</string>
					<string>ring_blast0003</string>
					<string>ring_blast0004</string>
					<string>ring_blast0005</string>
					<string>ring_blast0006</string>
					<string>ring_blast0007</string>
					<string>ring_blast0008</string>
					<string>ring_blast0009</string>
					<string>ring_blast0010</string>
					<string>ring_blast0011</string>
					<string>ring_blast0012</string>
					<string>ring_blast0013</string>
				</array>
			</dict>
			<key>Movements</key>
			<dict>
				<key>RotatesForeverWithDuration</key>
				<integer>4</integer>
			</dict>
		</dict>
	</dict>
	<key>Characters</key>
	<dict>
		<key>Bro5</key>
		<dict>
			<key>FPS</key>
			<integer>24</integer>
			<key>Size</key>
			<string>{ 165, 125}</string>
			<key>SideScrollingProperties</key>
			<dict>
				<key>TreatUpLikeJump</key>
				<true/>
				<key>JumpTime</key>
				<real>0.7</real>
				<key>TreatDownLikeCrouch</key>
				<true/>
			</dict>
			<key>WeaponsAndInventory</key>
			<dict>
				<key>UseWeapon</key>
				<string>Bro5_Gun</string>
				<key>UseSpecialWeapon</key>
				<string>Unlimited_Grenade</string>
				<key>AddWeaponToInventory</key>
				<true/>
				<key>AddSpecialWeaponToInventory</key>
				<true/>
				<key>AddToInventoryWithKeyName</key>
				<string>Bro5</string>
				<key>AutomaticallyAddToInventory</key>
				<true/>
			</dict>
			<key>Physics</key>
			<dict>
				<key>Friction</key>
				<integer>1</integer>
				<key>Speed</key>
				<integer>3</integer>
				<key>UseForCollisions</key>
				<true/>
				<key>CollisionBodyType</key>
				<string>circle</string>
				<key>OffsetCollisionBody</key>
				<string>{0,-21}</string>
				<key>ResizeBodyBy</key>
				<real>0.5</real>
				<key>Restitution</key>
				<integer>0</integer>
				<key>Mass</key>
				<integer>20</integer>
				<key>Density</key>
				<integer>20</integer>
			</dict>
			<key>Vectors</key>
			<dict>
				<key>UpVector</key>
				<string>{3,4}</string>
				<key>DownVector</key>
				<string>{1,0}</string>
				<key>LeftVector</key>
				<string>{-4,0}</string>
				<key>RightVector</key>
				<string>{4,0}</string>
				<key>AttackUpVector</key>
				<string>{0, 0}</string>
				<key>AttackDownVector</key>
				<string>{0, 0}</string>
				<key>AttackLeftVector</key>
				<string>{0, 0}</string>
				<key>AttackRightVector</key>
				<string>{0, 0}</string>
				<key>AttackVectorIfResting</key>
				<string>{0, 0}</string>
				<key>VectorMultiplierForPad</key>
				<integer>1</integer>
				<key>VectorMultiplierForPhone</key>
				<real>1.2</real>
			</dict>
			<key>Idle</key>
			<dict>
				<key>UseRestingFrames</key>
				<true/>
				<key>RestingAtlasFile</key>
				<string>bro5_idle</string>
				<key>RestingFrames</key>
				<array>
					<string>bro5_idle0001</string>
					<string>bro5_idle0002</string>
					<string>bro5_idle0003</string>
					<string>bro5_idle0004</string>
					<string>bro5_idle0005</string>
					<string>bro5_idle0006</string>
					<string>bro5_idle0007</string>
					<string>bro5_idle0008</string>
				</array>
				<key>UseRestingAttackFrames</key>
				<true/>
				<key>RestingAttackAtlasFile</key>
				<string>bro5_fire</string>
				<key>RestingAttackFrames</key>
				<array>
					<string>bro5_fire0001</string>
					<string>bro5_fire0002</string>
					<string>bro5_fire0003</string>
					<string>bro5_fire0004</string>
					<string>bro5_fire0005</string>
				</array>
			</dict>
			<key>Down</key>
			<dict>
				<key>UseDownFrames</key>
				<true/>
				<key>DownAtlasFile</key>
				<string>bro5_walk_lower</string>
				<key>DownFrames</key>
				<array>
					<string>bro5_walk_lower0001</string>
					<string>bro5_walk_lower0002</string>
					<string>bro5_walk_lower0003</string>
					<string>bro5_walk_lower0004</string>
					<string>bro5_walk_lower0005</string>
					<string>bro5_walk_lower0006</string>
					<string>bro5_walk_lower0007</string>
					<string>bro5_walk_lower0008</string>
					<string>bro5_walk_lower0009</string>
					<string>bro5_walk_lower0010</string>
					<string>bro5_walk_lower0011</string>
					<string>bro5_walk_lower0012</string>
					<string>bro5_walk_lower0013</string>
					<string>bro5_walk_lower0014</string>
				</array>
				<key>UseDownAttackFrames</key>
				<true/>
				<key>DownAttackAtlasFile</key>
				<string>bro5_walk_fire_down</string>
				<key>DownAttackAtlasFPS</key>
				<integer>4</integer>
				<key>DownAttackFrames</key>
				<array>
					<string>bro5_walk_fire_down0001</string>
					<string>bro5_walk_fire_down0002</string>
					<string>bro5_walk_fire_down0003</string>
					<string>bro5_walk_fire_down0004</string>
					<string>bro5_walk_fire_down0005</string>
					<string>bro5_walk_fire_down0006</string>
					<string>bro5_walk_fire_down0007</string>
					<string>bro5_walk_fire_down0008</string>
					<string>bro5_walk_fire_down0009</string>
					<string>bro5_walk_fire_down0010</string>
					<string>bro5_walk_fire_down0011</string>
					<string>bro5_walk_fire_down0012</string>
					<string>bro5_walk_fire_down0013</string>
					<string>bro5_walk_fire_down0014</string>
				</array>
			</dict>
			<key>Up</key>
			<dict>
				<key>UseUpFrames</key>
				<true/>
				<key>UpAtlasFile</key>
				<string>bro5_jump</string>
				<key>UpFrames</key>
				<array>
					<string>bro5_jump0001</string>
					<string>bro5_jump0002</string>
					<string>bro5_jump0003</string>
					<string>bro5_jump0004</string>
					<string>bro5_jump0005</string>
					<string>bro5_jump0005</string>
					<string>bro5_jump0005</string>
					<string>bro5_jump0005</string>
					<string>bro5_jump0005</string>
					<string>bro5_jump0005</string>
					<string>bro5_jump0005</string>
					<string>bro5_jump0005</string>
					<string>bro5_jump0005</string>
					<string>bro5_jump0005</string>
					<string>bro5_jump0005</string>
					<string>bro5_jump0005</string>
					<string>bro5_jump0005</string>
					<string>bro5_jump0005</string>
				</array>
				<key>UseUpAttackFrames</key>
				<true/>
				<key>UpAttackAtlasFile</key>
				<string>bro5_jump_fire</string>
				<key>UpAttackFrames</key>
				<array>
					<string>bro5_jump_fire0001</string>
					<string>bro5_jump_fire0002</string>
					<string>bro5_jump_fire0003</string>
					<string>bro5_jump_fire0004</string>
					<string>bro5_jump_fire0005</string>
				</array>
			</dict>
			<key>Right</key>
			<dict>
				<key>UseRightFrames</key>
				<true/>
				<key>RightAtlasFile</key>
				<string>bro5_walk</string>
				<key>NOTE: You could also use bro5_run</key>
				<string></string>
				<key>RightFrames</key>
				<array>
					<string>bro5_walk0001</string>
					<string>bro5_walk0002</string>
					<string>bro5_walk0003</string>
					<string>bro5_walk0004</string>
					<string>bro5_walk0005</string>
					<string>bro5_walk0006</string>
					<string>bro5_walk0007</string>
					<string>bro5_walk0008</string>
					<string>bro5_walk0009</string>
					<string>bro5_walk0010</string>
					<string>bro5_walk0011</string>
					<string>bro5_walk0012</string>
					<string>bro5_walk0013</string>
					<string>bro5_walk0014</string>
				</array>
				<key>NOTE: If using run, switch frame names to those in the run atlas</key>
				<string></string>
				<key>UseRightAttackFrames</key>
				<true/>
				<key>RightAttackAtlasFile</key>
				<string>bro5_walk_and_fire</string>
				<key>RightAttackFrames</key>
				<array>
					<string>bro5_walk_and_fire0001</string>
					<string>bro5_walk_and_fire0002</string>
					<string>bro5_walk_and_fire0003</string>
					<string>bro5_walk_and_fire0004</string>
					<string>bro5_walk_and_fire0005</string>
					<string>bro5_walk_and_fire0006</string>
					<string>bro5_walk_and_fire0007</string>
					<string>bro5_walk_and_fire0008</string>
					<string>bro5_walk_and_fire0009</string>
					<string>bro5_walk_and_fire0010</string>
					<string>bro5_walk_and_fire0011</string>
					<string>bro5_walk_and_fire0012</string>
					<string>bro5_walk_and_fire0013</string>
					<string>bro5_walk_and_fire0014</string>
				</array>
			</dict>
			<key>Collect</key>
			<dict>
				<key>UseCollectFrames</key>
				<true/>
				<key>CollectAtlasFile</key>
				<string>bro5_collect</string>
				<key>CollectFrames</key>
				<array>
					<string>bro5_collect0001</string>
					<string>bro5_collect0002</string>
					<string>bro5_collect0003</string>
					<string>bro5_collect0004</string>
					<string>bro5_collect0005</string>
					<string>bro5_collect0006</string>
					<string>bro5_collect0007</string>
				</array>
			</dict>
			<key>Climb</key>
			<dict>
				<key>UseClimbFrames</key>
				<true/>
				<key>ClimbAtlasFile</key>
				<string>bro5_climbing</string>
				<key>ClimbFrames</key>
				<array>
					<string>bro5_climbing0001</string>
					<string>bro5_climbing0002</string>
					<string>bro5_climbing0003</string>
					<string>bro5_climbing0004</string>
					<string>bro5_climbing0005</string>
					<string>bro5_climbing0006</string>
					<string>bro5_climbing0007</string>
					<string>bro5_climbing0008</string>
					<string>bro5_climbing0009</string>
					<string>bro5_climbing0010</string>
					<string>bro5_climbing0011</string>
				</array>
			</dict>
			<key>Disables</key>
			<dict>
				<key>DisableLeftMovement</key>
				<false/>
				<key>DisableRightMovement</key>
				<false/>
				<key>DisableUpMovement</key>
				<false/>
				<key>DisableDownMovement</key>
				<false/>
			</dict>
			<key>Special</key>
			<dict>
				<key>UseRestingSpecialAttackFrames</key>
				<true/>
				<key>RestingSpecialAttackAtlasFile</key>
				<string>bro5_toss</string>
				<key>RestingSpecialAttackFrames</key>
				<array>
					<string>bro5_toss0001</string>
					<string>bro5_toss0002</string>
					<string>bro5_toss0003</string>
					<string>bro5_toss0004</string>
					<string>bro5_toss0005</string>
					<string>bro5_toss0006</string>
					<string>bro5_toss0007</string>
					<string>bro5_toss0008</string>
					<string>bro5_toss0009</string>
				</array>
				<key>UseUpSpecialAttackFrames</key>
				<true/>
				<key>UpSpecialAttackAtlasFile</key>
				<string>bro5_jump_toss</string>
				<key>UpSpecialAttackFrames</key>
				<array>
					<string>bro5_jump_toss0001</string>
					<string>bro5_jump_toss0002</string>
					<string>bro5_jump_toss0003</string>
					<string>bro5_jump_toss0004</string>
					<string>bro5_jump_toss0005</string>
					<string>bro5_jump_toss0006</string>
					<string>bro5_jump_toss0007</string>
				</array>
				<key>UseDownSpecialAttackFrames</key>
				<true/>
				<key>DownSpecialAttackAtlasFile</key>
				<string>bro5_walk_toss</string>
				<key>DownSpecialAttackFrames</key>
				<array>
					<string>bro5_walk_toss0001</string>
					<string>bro5_walk_toss0002</string>
					<string>bro5_walk_toss0003</string>
					<string>bro5_walk_toss0004</string>
					<string>bro5_walk_toss0005</string>
					<string>bro5_walk_toss0006</string>
					<string>bro5_walk_toss0007</string>
				</array>
				<key>UseRightSpecialAttackFrames</key>
				<true/>
				<key>RightSpecialAttackAtlasFile</key>
				<string>bro5_walk_toss</string>
				<key>RightSpecialAttackFrames</key>
				<array>
					<string>bro5_walk_toss0001</string>
					<string>bro5_walk_toss0002</string>
					<string>bro5_walk_toss0003</string>
					<string>bro5_walk_toss0004</string>
					<string>bro5_walk_toss0005</string>
					<string>bro5_walk_toss0006</string>
					<string>bro5_walk_toss0007</string>
				</array>
			</dict>
			<key>Death</key>
			<dict>
				<key>UseDeathFrames</key>
				<true/>
				<key>DeathAtlasFile</key>
				<string>bro5_defeated</string>
				<key>DeathFrames</key>
				<array>
					<string>bro5_defeated0001</string>
					<string>bro5_defeated0002</string>
					<string>bro5_defeated0003</string>
					<string>bro5_defeated0004</string>
					<string>bro5_defeated0005</string>
					<string>bro5_defeated0006</string>
					<string>bro5_defeated0007</string>
				</array>
				<key>DeathTime</key>
				<integer>2</integer>
			</dict>
			<key>Damage</key>
			<dict>
				<key>UseDamageFrames</key>
				<true/>
				<key>DamageAtlasFile</key>
				<string>bro5_hurt</string>
				<key>DamageFrames</key>
				<array>
					<string>bro5_hurt0001</string>
					<string>bro5_hurt0002</string>
					<string>bro5_hurt0003</string>
					<string>bro5_hurt0004</string>
					<string>bro5_hurt0005</string>
					<string>bro5_hurt0006</string>
				</array>
				<key>DamageTime</key>
				<integer>2</integer>
			</dict>
			<key>Rotation</key>
			<dict>
				<key>DegreeOfRotationForRight</key>
				<integer>0</integer>
				<key>DegreeOfRotationForDown</key>
				<integer>0</integer>
				<key>DegreeOfRotationForUp</key>
				<integer>0</integer>
				<key>DegreeOfRotationForLeft</key>
				<integer>0</integer>
				<key>DegreeOfRotationForUpLeft</key>
				<integer>0</integer>
				<key>DegreeOfRotationForUpRight</key>
				<integer>0</integer>
				<key>DegreeOfRotationForDownRight</key>
				<integer>0</integer>
				<key>DegreeOfRotationForDownLeft</key>
				<integer>0</integer>
			</dict>
			<key>AttackandDamage</key>
			<dict>
				<key>MultiplyDamageByExperience</key>
				<false/>
				<key>DamageAmountToObjects</key>
				<integer>1</integer>
				<key>AttackForHowLong</key>
				<real>0.15</real>
				<key>DisableAttackWhenNotLeader</key>
				<false/>
			</dict>
			<key>Health</key>
			<dict>
				<key>HasOwnHealth</key>
				<true/>
				<key>MaxHealth</key>
				<integer>100</integer>
				<key>OnlyShowHealthAfterDamage</key>
				<true/>
				<key>HealthBarBackingImage</key>
				<string>healthBarBacking2</string>
				<key>HealthBarMeterImage</key>
				<string>healthBarMeter2</string>
				<key>HealthOffSetY</key>
				<integer>5</integer>
			</dict>
			<key>Sounds</key>
			<dict>
				<key>FootStepsSound</key>
				<string>HumanFootSteps</string>
				<key>JumpSound</key>
				<string>Whooshes</string>
				<key>DeathSound</key>
				<string>Death</string>
				<key>DamageSound</key>
				<string>Oww</string>
			</dict>
			<key>AppearsWithParticles</key>
			<string>DeathFire</string>
		</dict>
	</dict>
	<key>Collectibles</key>
	<dict>
		<key>Grenade</key>
		<dict>
			<key>InventoryItemImage</key>
			<string>grenade_icon</string>
			<key>ShowTotalCollected</key>
			<true/>
			<key>EquipsSpecialWeaponNamed</key>
			<string>Grenade</string>
			<key>EquipImage</key>
			<string>equip_inventory</string>
			<key>AlreadyEquippedImage</key>
			<string>blank</string>
			<key>NOTE- Using a blank image above, to reveal ammo count</key>
			<string>blank</string>
			<key>Sound</key>
			<string>Gun</string>
		</dict>
		<key>Unlimited_Grenade</key>
		<dict>
			<key>InventoryItemImage</key>
			<string>grenade_icon</string>
			<key>ShowTotalCollected</key>
			<false/>
			<key>EquipsSpecialWeaponNamed</key>
			<string>Unlimited_Grenade</string>
			<key>EquipImage</key>
			<string>equip_inventory</string>
			<key>AlreadyEquippedImage</key>
			<string>equipped_inventory</string>
			<key>Sound</key>
			<string>Gun</string>
		</dict>
		<key>Bro5</key>
		<dict>
			<key>InventoryItemImage</key>
			<string>bro5_icon</string>
			<key>ShowTotalCollected</key>
			<false/>
			<key>ChangesCharacterTo</key>
			<string>Bro5</string>
			<key>EquipsWeaponNamed</key>
			<string>Bro5_Gun</string>
			<key>EquipImage</key>
			<string>use_inventory</string>
			<key>AlreadyEquippedImage</key>
			<string>in_use_inventory</string>
			<key>Sound</key>
			<string>Gun</string>
		</dict>
		<key>Bro5_Gun</key>
		<dict>
			<key>InventoryItemImage</key>
			<string>bro5_gun_icon</string>
			<key>ShowTotalCollected</key>
			<false/>
			<key>EquipsWeaponNamed</key>
			<string>Bro5_Gun</string>
			<key>EquipImage</key>
			<string>equip_inventory</string>
			<key>AlreadyEquippedImage</key>
			<string>equipped_inventory</string>
			<key>Sound</key>
			<string>Gun</string>
		</dict>
	</dict>
</dict>
</plist>
